/*方法一*/


/*
	相对于空标签闭合浮动的方法代码似乎还是有些冗余，通过查询发现Unicode字符里有一个"零宽度空格"，
	也就是U+200B ，这个字符本身是不可见的，所以我们完全可以省略掉 visibility:hidden了
*/

.clearfix1:after {
    display: block;
    clear: both;
    height: 0;
    content: '200B';
}

.clearfix1 {
    *zoom: 1;
}


/*方法二*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}